@model CarWorkshop.Models.ViewModels.AppointmentVM

<form class="row g-3" method="post" asp-action="Create">
    <div class="col-md-12">
        <label for="inputZip" class="form-label">Car Id</label>
        <input type="number" class="form-control" asp-for="Appointment.CarId" readonly>
    </div>
    <div class="col-12">
        <label for="inputZip" class="form-label">Start date</label>
        <input type="datetime" class="form-control" id="inputZip" placeholder="25-12-2022" asp-for="Appointment.StartDate">
     </div>
    <div class="col-12">
            <label for="inputName" class="form-label">End Date</label>
            <input type="datetime" class="form-control" id="inputName" placeholder="30-12-2022" asp-for="Appointment.EndDate">
    </div>
    <div class="col-12">
        <label for="inputSurname" class="form-label">Description of problem</label>
        <input type="text" class="form-control" placeholder="Description" asp-for="Appointment.Description">
    </div>
    <div class="col-md-12">
        <label for="inputCity" class="form-label">Diagnosis</label>
        <input type="text" class="form-control" placeholder="Diagnosis what cause a problem" asp-for="Appointment.Diagnosis">
    </div>
    <div class="col-md-12">
        <label for="inputZip" class="form-label">Parts and things needed to repair car</label>
        <input type="text" class="form-control" id="inputZip" placeholder="Parts" asp-for="Appointment.Parts">
    </div>
    <div class="col-md-12">
        <label for="inputZip" class="form-label">Total cost</label>
        <input type="text" class="form-control" id="inputZip" placeholder="Total cost included parts and repair cost" asp-for="Appointment.Cost">
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary" value="Create">Create</button>
    </div>
    <div class="col-md-2">
        <button asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</button>
    </div>
</form>


