@model CarWorkshop.Models.ViewModels.AppointmentVM

<form class="row g-3" method="post" asp-action="Create">
    <div class="col-md-12">
        <label for="inputZip" class="form-label">Car Id</label>
        @*<input type="number" class="form-control" id="inputClientId" placeholder="Number VIN" asp-for="Car.Client.Id">*@
        <input type="number" class="form-control"   asp-for="Appointment.CarId">
    </div>
    <div class="col-12">
        <div class="col-md-12">
            <label for="inputZip" class="form-label">VIN</label>
            <input type="text" class="form-control" id="inputZip" placeholder="Number VIN" asp-for="Appointment.Diagnosis">
        </div>
        <label for="inputName" class="form-label">Mark</label>
        <input type="text" class="form-control" id="inputName" placeholder="Mark of car" asp-for="Appointment.Description">
    </div>
    <div class="col-12">
        <label for="inputSurname" class="form-label">Model</label>
        <input type="date" class="form-control" id="inputSurname" placeholder="Model of car" asp-for="Appointment.StartDate">
    </div>
    <div class="col-md-12">
        <label for="inputAddress" class="form-label">Year of Production</label>
        <input type="date" class="form-control" id="inputAddress" placeholder="Year of production" asp-for="Appointment.EndDate">
    </div>
    <div class="col-md-12">
        <label for="inputCity" class="form-label">Plate Number</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Plate number" asp-for="Appointment.Diagnosis">
    </div>
    <div class="col-md-12">
        <label for="inputZip" class="form-label">VIN</label>
        <input type="number" class="form-control" id="inputZip" placeholder="Number VIN" asp-for="Appointment.Cost">
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary" value="Create">Create</button>
    </div>
    <div class="col-md-2">
        <button asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</button>
    </div>
</form>


