@model CarWorkshop.Models.ViewModels.CarVM

<form class="row g-3" method="post" asp-action="Create">
    <div class="col-12">
        <input asp-for="Car.Client" hidden />
        <label for="inputName" class="form-label">Mark</label>
        <input type="text" class="form-control" id="inputName" placeholder="Mark of car" asp-for="Car.Mark">
    </div>
    <div class="col-12">
        <label for="inputSurname" class="form-label">Model</label>
        <input type="text" class="form-control" id="inputSurname" placeholder="Model of car" asp-for="Car.Model">
    </div>
    <div class="col-md-12">
        <label for="inputAddress" class="form-label">Year of Production</label>
        <input type="number" class="form-control" id="inputAddress" placeholder="Year of production" asp-for="Car.YearOfProduction">
    </div>
    <div class="col-md-12">
        <label for="inputCity" class="form-label">Plate Number</label>
        <input type="text" class="form-control" id="inputCity" placeholder="Plate number" asp-for="Car.PlateNumber">
    </div>
    <div class="col-md-12">
        <label for="inputZip" class="form-label">VIN</label>
        <input type="number" class="form-control" id="inputZip" placeholder="Number VIN" asp-for="Car.VIN">
    </div>
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary" value="Create">Create</button>
    </div>
    <div class="col-md-2">
        <button asp-controller="Home" asp-action="Index" class="btn btn-primary">Cancel</button>
    </div>
</form>


